{extend name="public/content_table" /}
{block name="box-header"}{/block}
{block name="button"}
<button type="button" class="btn btn-link" e-action-modal="{:url('LocationMark/add')}" {if !auth("admin/LocationMark/add")}disabled{/if}><i class="fa fa-plus"></i> 新增</button>
<button class="btn btn-link" e-action-del="{:url('LocationMark/del')}" {if !auth("admin/LocationMark/del")}disabled{/if}><i class="fa fa-fw fa-trash"></i> 删除</button>
{/block}
{block name='script'}
<script>
    var php_url = {
        index: '{:url("LocationMark/index")}',
        mod :'{:auth("admin/LocationMark/mod") ? url("LocationMark/mod") : "false"}',
        del :'{:auth("admin/LocationMark/del") ? url("LocationMark/del") : "false"}',
        set :'{:auth("admin/LocationMark/set") ? url("LocationMark/set") : "false"}',
    };
    require(['dataTables.bootstrap','inputmask.date','jquery.form','admin/js/pages/location_mark'],function () {
        location_mark();
    });
</script>
{/block}
