{extend name="public/content_table" /}
{block name="box-header"}{/block}
{block name="button"}
<button type="button" class="btn btn-link" e-action-modal="{:url('localEquipment/add')}"><i class="fa fa-plus"></i> 新增</button>
<button class="btn btn-link" e-action-del="{:url('localEquipment/del')}"><i class="fa fa-fw fa-trash"></i> 删除</button>
{/block}
{block name='script'}
<script>
    var php_url = {
        index: '{:url("localEquipment/index")}',
        detail: '{:url("localEquipment/detail")}',
        mod : '{:url("localEquipment/mod")}',
        del : '{:url("localEquipment/del")}',
    };
    require(['dataTables.bootstrap','inputmask.date','jquery.form','admin/js/pages/local_equipment'],function () {
        local_equipment();
    });
</script>
{/block}
<!--
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div style="height:0px">
                    <button type="button" class="btn btn-link" e-action-modal="{:url('localEquipment/add')}"><i class="fa fa-plus"></i> 新增</button>
                    <button class="btn btn-link" e-action-del="{:url('localEquipment/del')}"><i class="fa fa-fw fa-trash"></i> 删除</button>
                </div>
                <table id="table" class="table table-bordered table-striped"></table>
            </div>
            &lt;!&ndash; /.box-body &ndash;&gt;
        </div>
        &lt;!&ndash; /.box &ndash;&gt;
    </div>
    &lt;!&ndash; /.col &ndash;&gt;
</div>
&lt;!&ndash; /.row &ndash;&gt;
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        &lt;!&ndash; /.modal-content &ndash;&gt;
    </div>
    &lt;!&ndash; /.modal-dialog &ndash;&gt;
</div>
<script>
    var php_url = {
        index: '{:url("localEquipment/index")}',
        detail: '{:url("localEquipment/detail")}',
        mod : '{:url("localEquipment/mod")}',
        del : '{:url("localEquipment/del")}',
    };
    require(['dataTables.bootstrap','inputmask.date','jquery.form','admin/js/pages/local_equipment'],function () {
        local_equipment();
    });
</script>-->
