{extend name="public/content_table" /}
{block name="box-header"}{/block}
{block name="button"}
<button type="button" class="btn btn-link" e-action-modal="{:url('Building/add')}"><i class="fa fa-plus"></i> 新增</button>
<button class="btn btn-link" e-action-del="{:url('Building/del')}"><i class="fa fa-fw fa-trash"></i> 删除</button>
{/block}
{block name='script'}
<script>
    var php_url = {
        index: '{:url("Building/index")}',
        detail: '{:url("Building/detail")}',
        mod : '{:url("Building/mod")}',
        del : '{:url("Building/del")}',
        floor : '#{:url("floor/index", "view=index&bui_id=__ID__")}',
    };
    require(['inputmask.date','jquery.form','admin/js/pages/building'],function () {
        building();
    });
</script>
{/block}