{extend name="public/content_table" /}
{block name="box-header"}{/block}
{block name="button"}
<button type="button" class="btn btn-link" e-action-modal="{:url('locator/add')}"><i class="fa fa-plus"></i> 新增</button>
<button class="btn btn-link" e-action-del="{:url('locator/del')}"><i class="fa fa-fw fa-trash"></i> 删除</button>
{/block}
{block name='script'}
<script>
    var php_url = {
        index : '{:url("locator/index")}',
        mod : '{:url("locator/mod")}',
        del : '{:url("locator/del")}',
    };
    require(['dataTables.bootstrap','inputmask.date','jquery.form'],function () {
        require(['domready!','admin/js/pages/locator'],function () {
            locator();
        });
    });
</script>
{/block}
