<!-- 头部（面包屑导航） -->
<section class="content-header clearfix" id="content-header">
    <ol class="breadcrumb" id="breadcrumb">
        <li><i class="fa fa-dashboard"></i>首页</li>
        <li class="active">主面板</li>
    </ol>
    <h1>{$title}</h1>
</section>
<section class="content" id="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body">
                    <blockquote>
                        <p>欢迎使用室内定位信息管理系统！</p>
                    </blockquote>
                    <table class="table table-striped">
                        <colgroup>
                            <col width="40%">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>系统名称:</td>
                            <td>室内定位信息管理系统</td>
                        </tr>
                        <tr>
                            <td>系统版本:</td>
                            <td>v1.0</td>
                        </tr>
                        <tr>
                            <td>服务器操作系统:</td>
                            <td>{:php_uname('s')}</td>
                        </tr>
                        <tr>
                            <td>WEB运行环境:</td>
                            <td>{:php_sapi_name()}</td>
                        </tr>
                        <tr>
                            <td>MySQL版本:</td>
                            <td>{$mysql_ver}</td>
                        </tr>
                        <tr>
                            <td>PHP版本:</td>
                            <td>{:phpversion()}</td>
                        </tr>
                        <tr>
                            <td>上传文件大小限制:</td>
                            <td>{:ini_get('upload_max_filesize')}</td>
                        </tr>
                        <tr>
                            <td>POST表单大小限制:</td>
                            <td>{:ini_get('post_max_size')}</td>
                        </tr>
                        <tr>
                            <td>脚本最大执行时间:</td>
                            <td>{:ini_get('max_execution_time')}秒</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>