<!-- 头部（面包屑导航） -->
<section class="content-header clearfix" id="content-header">
    <ol class="breadcrumb" id="breadcrumb">
        <li><i class="fa fa-dashboard"></i>首页</li>
        <li class="active">主面板</li>
    </ol>
    <h1>{$title}</h1>
</section>
<section class="content" id="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body">
                    <blockquote>
                        <p>欢迎使用室内定位信息管理系统！</p>
                    </blockquote>
                    <table class="table table-striped">
                        <colgroup>
                            <col width="40%">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>系统名称:</td>
                            <td>室内定位信息管理系统</td>
                        </tr>
                        <tr>
                            <td>系统版本:</td>
                            <td>v1.0</td>
                        </tr>
                        <tr>
                            <td>服务器操作系统:</td>
                            <td>{:php_uname('s')}</td>
                        </tr>
                        <tr>
                            <td>WEB运行环境:</td>
                            <td>{:php_sapi_name()}</td>
                        </tr>
                        <tr>
                            <td>MySQL版本:</td>
                            <td>{$mysql_ver}</td>
                        </tr>
                        <tr>
                            <td>PHP版本:</td>
                            <td>{:phpversion()}</td>
                        </tr>
                        <tr>
                            <td>上传文件大小限制:</td>
                            <td>{:ini_get('upload_max_filesize')}</td>
                        </tr>
                        <tr>
                            <td>POST表单大小限制:</td>
                            <td>{:ini_get('post_max_size')}</td>
                        </tr>
                        <tr>
                            <td>脚本最大执行时间:</td>
                            <td>{:ini_get('max_execution_time')}秒</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

<!--<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">事件统计</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            &lt;!&ndash; /.box-header &ndash;&gt;
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong>事件统计: 2017-01-01 - 2017-06-31</strong>
                        </p>

                        <div class="chart">
                            &lt;!&ndash; Sales Chart Canvas &ndash;&gt;
                            <canvas id="salesChart" style="height: 180px;"></canvas>
                        </div>
                        &lt;!&ndash; /.chart-responsive &ndash;&gt;
                    </div>
                    &lt;!&ndash; /.col &ndash;&gt;
                    <div class="col-md-4">
                        <p class="text-center">
                            <strong>各事件类型占比</strong>
                        </p>

                        <div class="progress-group">
                            <span class="progress-text">Add Products to Cart</span>
                            <span class="progress-number"><b>160</b>/200</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                            </div>
                        </div>
                        &lt;!&ndash; /.progress-group &ndash;&gt;
                        <div class="progress-group">
                            <span class="progress-text">Complete Purchase</span>
                            <span class="progress-number"><b>310</b>/400</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                            </div>
                        </div>
                        &lt;!&ndash; /.progress-group &ndash;&gt;
                        <div class="progress-group">
                            <span class="progress-text">Visit Premium Page</span>
                            <span class="progress-number"><b>480</b>/800</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div>
                        &lt;!&ndash; /.progress-group &ndash;&gt;
                        <div class="progress-group">
                            <span class="progress-text">Send Inquiries</span>
                            <span class="progress-number"><b>250</b>/500</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                            </div>
                        </div>
                        &lt;!&ndash; /.progress-group &ndash;&gt;
                    </div>
                    &lt;!&ndash; /.col &ndash;&gt;
                </div>
                &lt;!&ndash; /.row &ndash;&gt;
            </div>
            &lt;!&ndash; ./box-body &ndash;&gt;
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                            <h5 class="description-header">$35,210.43</h5>
                            <span class="description-text">TOTAL REVENUE</span>
                        </div>
                        &lt;!&ndash; /.description-block &ndash;&gt;
                    </div>
                    &lt;!&ndash; /.col &ndash;&gt;
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                            <h5 class="description-header">$10,390.90</h5>
                            <span class="description-text">TOTAL COST</span>
                        </div>
                        &lt;!&ndash; /.description-block &ndash;&gt;
                    </div>
                    &lt;!&ndash; /.col &ndash;&gt;
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                            <h5 class="description-header">$24,813.53</h5>
                            <span class="description-text">TOTAL PROFIT</span>
                        </div>
                        &lt;!&ndash; /.description-block &ndash;&gt;
                    </div>
                    &lt;!&ndash; /.col &ndash;&gt;
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block">
                            <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                            <h5 class="description-header">1200</h5>
                            <span class="description-text">GOAL COMPLETIONS</span>
                        </div>
                        &lt;!&ndash; /.description-block &ndash;&gt;
                    </div>
                </div>
                &lt;!&ndash; /.row &ndash;&gt;
            </div>
            &lt;!&ndash; /.box-footer &ndash;&gt;
        </div>
        &lt;!&ndash; /.box &ndash;&gt;
    </div>
    &lt;!&ndash; /.col &ndash;&gt;
</div>
&lt;!&ndash; /.row &ndash;&gt;

&lt;!&ndash; Main row &ndash;&gt;
<div class="row">
    &lt;!&ndash; Left col &ndash;&gt;
    <div class="col-md-8">
        &lt;!&ndash; TABLE: LATEST ORDERS &ndash;&gt;
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">最新事件</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            &lt;!&ndash; /.box-header &ndash;&gt;
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Item</th>
                            <th>Status</th>
                            <th>Popularity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR9842</a></td>
                            <td>Call of Duty IV</td>
                            <td><span class="label label-success">Shipped</span></td>
                            <td>
                                <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR1848</a></td>
                            <td>Samsung Smart TV</td>
                            <td><span class="label label-warning">Pending</span></td>
                            <td>
                                <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                            <td>iPhone 6 Plus</td>
                            <td><span class="label label-danger">Delivered</span></td>
                            <td>
                                <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                            <td>Samsung Smart TV</td>
                            <td><span class="label label-info">Processing</span></td>
                            <td>
                                <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR1848</a></td>
                            <td>Samsung Smart TV</td>
                            <td><span class="label label-warning">Pending</span></td>
                            <td>
                                <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                            <td>iPhone 6 Plus</td>
                            <td><span class="label label-danger">Delivered</span></td>
                            <td>
                                <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="pages/examples/invoice.html">OR9842</a></td>
                            <td>Call of Duty IV</td>
                            <td><span class="label label-success">Shipped</span></td>
                            <td>
                                <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                &lt;!&ndash; /.table-responsive &ndash;&gt;
            </div>
            &lt;!&ndash; /.box-body &ndash;&gt;
            <div class="box-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">查看所有事件</a>
            </div>
            &lt;!&ndash; /.box-footer &ndash;&gt;
        </div>
        &lt;!&ndash; /.box &ndash;&gt;
        &lt;!&ndash; MAP & BOX PANE &ndash;&gt;
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">设备维修统计</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            &lt;!&ndash; /.box-header &ndash;&gt;
            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="pad">
                            &lt;!&ndash; Map will be created here &ndash;&gt;
                            <div id="world-map-markers" style="height: 325px;"></div>
                        </div>
                    </div>
                    &lt;!&ndash; /.col &ndash;&gt;
                    <div class="col-md-3 col-sm-4">
                        <div class="pad box-pane-right bg-green" style="min-height: 280px">
                            <div class="description-block margin-bottom">
                                <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
                                <h5 class="description-header">8390</h5>
                                <span class="description-text">Visits</span>
                            </div>
                            &lt;!&ndash; /.description-block &ndash;&gt;
                            <div class="description-block margin-bottom">
                                <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                <h5 class="description-header">30%</h5>
                                <span class="description-text">Referrals</span>
                            </div>
                            &lt;!&ndash; /.description-block &ndash;&gt;
                            <div class="description-block">
                                <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                <h5 class="description-header">70%</h5>
                                <span class="description-text">Organic</span>
                            </div>
                            &lt;!&ndash; /.description-block &ndash;&gt;
                        </div>
                    </div>
                    &lt;!&ndash; /.col &ndash;&gt;
                </div>
                &lt;!&ndash; /.row &ndash;&gt;
            </div>
            &lt;!&ndash; /.box-body &ndash;&gt;
        </div>
        &lt;!&ndash; /.box &ndash;&gt;
    </div>
    &lt;!&ndash; /.col &ndash;&gt;

    <div class="col-md-4">

        &lt;!&ndash; USERS LIST &ndash;&gt;
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">人员出警率</h3>

                <div class="box-tools pull-right">
                    <span class="label label-danger">8 New Members</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            &lt;!&ndash; /.box-header &ndash;&gt;
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    <li>
                        <img src="dist/img/user1-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Alexander Pierce</a>
                        <span class="users-list-date">Today</span>
                    </li>
                    <li>
                        <img src="dist/img/user8-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Norman</a>
                        <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                        <img src="dist/img/user7-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Jane</a>
                        <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                        <img src="dist/img/user6-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">John</a>
                        <span class="users-list-date">12 Jan</span>
                    </li>
                    <li>
                        <img src="dist/img/user2-160x160.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Alexander</a>
                        <span class="users-list-date">13 Jan</span>
                    </li>
                    <li>
                        <img src="dist/img/user5-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Sarah</a>
                        <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                        <img src="dist/img/user4-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Nora</a>
                        <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                        <img src="dist/img/user3-128x128.jpg" alt="User Image">
                        <a class="users-list-name" href="#">Nadia</a>
                        <span class="users-list-date">15 Jan</span>
                    </li>
                </ul>
                &lt;!&ndash; /.users-list &ndash;&gt;
            </div>
            &lt;!&ndash; /.box-body &ndash;&gt;
            <div class="box-footer text-center">
                <a href="javascript:void(0)" class="uppercase">View All Users</a>
            </div>
            &lt;!&ndash; /.box-footer &ndash;&gt;
        </div>
        &lt;!&ndash;/.box &ndash;&gt;

        &lt;!&ndash; PRODUCT LIST &ndash;&gt;
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">新增设备</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            &lt;!&ndash; /.box-header &ndash;&gt;
            <div class="box-body">
                <ul class="products-list product-list-in-box">
                    <li class="item">
                        <div class="product-img">
                            <img src="dist/img/default-50x50.gif" alt="Product Image">
                        </div>
                        <div class="product-info">
                            <a href="javascript:void(0)" class="product-title">Samsung TV
                                <span class="label label-warning pull-right">$1800</span></a>
                            <span class="product-description">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                        </div>
                    </li>
                    &lt;!&ndash; /.item &ndash;&gt;
                    <li class="item">
                        <div class="product-img">
                            <img src="dist/img/default-50x50.gif" alt="Product Image">
                        </div>
                        <div class="product-info">
                            <a href="javascript:void(0)" class="product-title">Bicycle
                                <span class="label label-info pull-right">$700</span></a>
                            <span class="product-description">
                          26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                        </span>
                        </div>
                    </li>
                    &lt;!&ndash; /.item &ndash;&gt;
                    <li class="item">
                        <div class="product-img">
                            <img src="dist/img/default-50x50.gif" alt="Product Image">
                        </div>
                        <div class="product-info">
                            <a href="javascript:void(0)" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>
                            <span class="product-description">
                          Xbox One Console Bundle with Halo Master Chief Collection.
                        </span>
                        </div>
                    </li>
                    &lt;!&ndash; /.item &ndash;&gt;
                    <li class="item">
                        <div class="product-img">
                            <img src="dist/img/default-50x50.gif" alt="Product Image">
                        </div>
                        <div class="product-info">
                            <a href="javascript:void(0)" class="product-title">PlayStation 4
                                <span class="label label-success pull-right">$399</span></a>
                            <span class="product-description">
                          PlayStation 4 500GB Console (PS4)
                        </span>
                        </div>
                    </li>
                    &lt;!&ndash; /.item &ndash;&gt;
                </ul>
            </div>
            &lt;!&ndash; /.box-body &ndash;&gt;
            <div class="box-footer text-center">
                <a href="javascript:void(0)" class="uppercase">View All Products</a>
            </div>
            &lt;!&ndash; /.box-footer &ndash;&gt;
        </div>
        &lt;!&ndash; /.box &ndash;&gt;
    </div>
    &lt;!&ndash; /.col &ndash;&gt;
</div>-->
<!-- /.row -->
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>