<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{:config('PRODUCT_NAME')} | {block name="title"}{$title}{/block}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__PLUGIN__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="__CSS__/AdminLTE.css">
    <link rel="stylesheet" href="__CSS__/skins/_all-skins.min.css">
    <link rel="stylesheet" href="__CSS__/public.css">
    <link rel="icon" href="__IMG__/favicon.ico">
    <style>
        body{
            font-family: "Microsoft YaHei",FontAwesome,sans-serif;
        }
        .builder-data-empty {
            margin-bottom: 20px;
            background-color: #f9f9f9;
        }
        .no-data {
            padding: 130px 0;
            color: #555;
        }
        .am-text-center {
            text-align: center !important;
        }
        a{
            cursor:pointer;
        }
    </style>
    {block name="myStyle"}{/block}
    <!--[if lt IE 9]>
    <script src="__PLUGIN__/compatible/html5shiv.js"></script>
    <script src="__PLUGIN__/compatible/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="wrapper">
        <!--顶部banner-->
        <header class="main-header">
            <a href="{:url('Index/index')}" class="logo" style="height: 52px">
                <span class="logo-mini">
                    <img src="__IMG__/logo.jpg" width="51px" alt="">
                </span>
                <span class="logo-lg">室内定位信息管理系统</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="__IMG__/logo.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">{$Think.session.user.name}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="__IMG__/logo.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        {$Think.session.user.name}
                                        <small>注册时间：{$Think.session.user.create_time | date='Y-m-d',###}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a url="{:url('User/edit')}" class="refresh btn btn-default btn-flat">修改信息</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{:url('Login/out')}" class="btn btn-default btn-flat">退出登录</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- 左侧导航栏 -->
        <aside class="main-sidebar" id="main-sidebar">
            <section class="sidebar">
                <!--管理员信息-->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="__IMG__/logo.jpg" class="img-circle" alt="头像">
                    </div>
                    <div class="pull-left info">
                        <p>{$Think.session.user.name}</p>
                        <a href="javascript:void(0);"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!--搜索表单-->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu">
                    <li class="header">业务管理</li>
                    <li class="active">
                        <a href="#{:url('index/dashBoard')}">
                            <i class="fa fa-circle-o"></i> <span>主面板</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0);">
                            <i class="fa fa-files-o"></i> <span>单位管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#{:url('organization/self')}"><i class="fa fa-circle-o"></i>本单位信息</a></li>
                            <li><a href="#{:url('organization/index')}"><i class="fa fa-circle-o"></i>子单位管理</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0);">
                            <i class="fa fa-files-o"></i> <span>人员管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#{:url('group/index')}"><i class="fa fa-circle-o"></i>分组管理</a></li>
                            <li><a href="#{:url('person/index')}"><i class="fa fa-circle-o"></i>人员列表</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0);">
                            <i class="fa fa-files-o"></i> <span>设备管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#{:url('locator/index')}"><i class="fa fa-circle-o"></i> 定位套件</a></li>
                            <li><a href="#{:url('locationMark/index')}"><i class="fa fa-circle-o"></i> 信标</a></li>
                            <li><a href="#{:url('localEquipment/index')}"><i class="fa fa-circle-o"></i> 终端管理</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0);">
                            <i class="fa fa-files-o"></i> <span>辖区管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#{:url('building/index')}"><i class="fa fa-fw fa-building-o"></i> 建筑物</a></li>
                            <li><a href="#{:url('floor/index')}"><i class="fa fa-fw fa-navicon"></i> 楼层管理</a></li>
                            <li><a href="#{:url('outfireFacility/index')}"><i class="fa fa-fw fa-circle-o"></i> 消防设施</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#{:url('incident/index')}">
                            <i class="fa fa-circle-o"></i> <span>事件</span>
                        </a>
                    </li>
                    <li class="header">系统管理</li>
                    <li class="treeview">
                        <a href="javascript:void(0);">
                            <i class="fa fa-files-o"></i> <span>用户管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#{:url('user/index')}"><i class="fa fa-fw fa-circle-o"></i> 系统用户</a></li>
                            <li><a href="#{:url('log/index')}"><i class="fa fa-fw fa-circle-o"></i> 权限管理</a></li>
                            <li><a href="#{:url('node/index')}"><i class="fa fa-fw fa-circle-o"></i> 节点管理</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javascript:void(0);">
                            <i class="fa fa-files-o"></i> <span>日志</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#{:url('action/index')}"><i class="fa fa-fw fa-circle-o"></i> 用户操作</a></li>
                            <li><a href="#{:url('log/index')}"><i class="fa fa-fw fa-circle-o"></i> 系统日志</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">
            <!-- 头部（面包屑导航） -->
            <section class="content-header" id="content-header">
                <h1>{$title}</h1>
                <ol class="breadcrumb" id="breadcrumb">
                    <li><i class="fa fa-dashboard"></i>　首页</li>
                </ol>
            </section>
            <section class="content" id="content">
                {block name="content"}{/block}
            </section>
        </div>

        <!-- 公用底部(完成适配) -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> {:config('PRODUCT_VERSION')}
            </div>
            <strong>Copyright &copy; 2014-{:date('Y')} <a href="{:config('WEBSITE_DOMAIN')}">{:config('COMPANY_NAME')}</a>.</strong> All rights reserved.
        </footer>
        <!-- 主题适配相关(完成适配) -->
        <div class="control-sidebar-bg"></div>
    </div>
    <script>
        var PHP_DATA = {};
        var URL = '__URL__';
        var MODULE = '__MODULE__';
        var JS_PATH = '__JS__';
        var CSS_PATH = '__CSS__';
        var STATIC_PATH = '__STATIC__';
        var IMG_PATH = '__IMG__';
        var PLUGIN_PATH = '__PLUGIN__';
        var COMPANY_NAME = '{:config("COMPANY_NAME")}';
    </script>
    <script src="__PLUGIN__/require/require.js?ver={:date('ymd')}" data-main="__JS__/main"></script>
  <!--  &lt;!&ndash; jQuery 2.2.3 &ndash;&gt;
    <script src="__PLUGIN__/jQuery/2.2.4/jquery.min.js"></script>
    &lt;!&ndash; Bootstrap 3.3.6 &ndash;&gt;
    <script src="__PLUGIN__/bootstrap/js/bootstrap.min.js"></script>
    &lt;!&ndash; FastClick &ndash;&gt;
    <script src="__PLUGIN__/fastClick/fastclick.js"></script>
    &lt;!&ndash; slimScroll &ndash;&gt;
    <script src="__PLUGIN__/slimScroll/jquery.slimscroll.min.js"></script>
    &lt;!&ndash; BootBox &ndash;&gt;
    <script src="__PLUGIN__/bootBox/bootbox.min.js"></script>
    &lt;!&ndash; AdminLTE App &ndash;&gt;
    <script src="__JS__/app.js"></script>
    &lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;
    <script src="__JS__/demo.js"></script>
    <script src="__JS__/common.js"></script>

    <script src="__JS__/template.js"></script>-->
    {block name="myScript"}{/block}
</body>
</html>
