<!-- 头部（面包屑导航） -->
<section class="content-header clearfix" id="content-header">
    <ol class="breadcrumb" id="breadcrumb">
        {volist name="titles" id="vo"}
        <li {eq name="i" value=":count($titles)"}class="active"{/eq}>{eq name="i" value="1"}<i class="fa fa-dashboard"></i>{/eq} {$vo.title}</li>
        {/volist}
    </ol>
    <h1>{$title}</h1>
</section>
<section class="content" id="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                {block name="box-header"}
                {/block}
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="height:0px" id="buttons">
                        {block name="button"}
                        {/block}
                    </div>
                    <table id="table" class="table table-bordered table-striped"></table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
{block name="modal"}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{/block}
{block name='script'}
{/block}