{extend name="public/content_table" /}
{block name="box-header"}{/block}
{block name="button"}
<button type="button" class="btn btn-link" e-action-modal="{:url('person/add')}"><i class="fa fa-plus"></i> 新增</button>
<button class="btn btn-link" e-action-del="{:url('person/del')}"><i class="fa fa-fw fa-trash"></i> 删除</button>
{/block}
{block name='script'}
<script>
    var php_url = {
        index : '{:url("person/index")}',
        detail : '{:url("person/detail")}',
        mod : '{:url("person/mod")}',
        del : '{:url("person/del")}',
    };
</script>
<script>
    require(['dataTables.bootstrap','inputmask.date','jquery.form','css!__MSTATIC__/css/pages/person.css','admin/js/pages/person'],function () {
        $(person);
    });
</script>
{/block}
{block name='modal'}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{/block}
