{extend name="public/content_table" /}
{block name="box-header"}
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a data-id="self" data-toggle="tab">
            本单位人员管理
        </a>
    </li>
    <li><a data-id="all"  data-toggle="tab">查看全部人员</a></li>
</ul>
{/block}
{block name="button"}
<button type="button" class="btn btn-link" e-action-modal="{:url('person/add')}" {if !auth("admin/person/add")}disabled{/if}><i class="fa fa-plus"></i> 新增</button>
<button class="btn btn-link" e-action-del="{:url('person/del')}" {if !auth("admin/person/del")}disabled{/if}><i class="fa fa-fw fa-trash"></i> 删除</button>
{/block}
{block name='script'}
<script>

    var php_url = {
        index : '{:url("person/index")}',
        detail :  '{:auth("admin/person/detail") ? url("person/detail") : "false"}',
        mod : '{:auth("admin/person/mod") ? url("person/mod") : "false"}',
        del :'{:auth("admin/person/del") ? url("person/del") : "false"}',
    };
</script>
<script>
    require(['dataTables.bootstrap','inputmask.date','jquery.form','css!__MSTATIC__/css/pages/person.css','admin/js/pages/person'],function () {
        $(person);
    });
</script>
{/block}
{block name='modal'}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{/block}
