{extend name="admin@public/content_table" /}
{block name="box-header"}{/block}
{block name="button"}
<button class="btn btn-link" e-action-del="{:url('userLog/del')}" {if !auth("system/userLog/del")}disabled{/if}><i class="fa fa-fw fa-close"></i> 删除</button>
<button type="button" class="btn btn-link" data-url="{:url('userLog/delAll')}" {if !auth("system/userLog/delAll")}disabled{/if}><i class="fa fa-trash"></i> 清空</button>
{/block}
{block name='script'}
<script>
    var php_url = {
        getList: '{:url("userLog/index")}',
        del :'{:auth("system/userLog/del") ? url("userLog/del") : "false"}',
    };
    require(['dataTables.bootstrap','inputmask.date','jquery.form','system/js/pages/user_log'],function () {
        user_log();
    });
</script>
{/block}
