<form class="form-horizontal" id="form" action = "{:url('organization/update')}">
    <input name="org_id" value="{$detail.org_id}" hidden>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">修改子单位信息</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label  class="col-sm-2 control-label">单位名</label>
            <div class="col-sm-10">
                <input class="form-control" name="name" placeholder="单位名" type="text"  value="{$detail.name}">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">简称</label>
            <div class="col-sm-10">
                <input class="form-control" name="abbr" placeholder="简称" type="text"  value="{$detail.abbr}">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">地址</label>
            <div class="col-sm-10">
                <input class="form-control" name="address" placeholder="地址" type="text"  value="{$detail.address}">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-default">重置</button>
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>