.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

/*modal*/
/*loading style*/
.loading .modal-content {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
    font-size:40px;
    color: #ffffff;
    /*border: 0;*/
}
@media (min-width: 768px) {
    .loading .modal-content {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
        border: none;
        font-size:40px;
        color: #ffffff;
    }
}