{extend name="public/content_table" /}
{block name="box-header"}
{/block}
{block name="button"}
<div class="form-inline">
    <div class="form-group">
        <label style="position: relative; font-weight: normal">时间范围:
            <input type="text" id="daterange" class="form-control input-sm" style="padding-right:25px; width: 190px;">
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute; right: 10px; top:8px"></i>
        </label>
        <button type="button" class="btn btn-link" e-action-modal="{:url('Incident/add')}"><i class="fa fa-plus"></i> 新增</button>
        <button class="btn btn-link" e-action-del="{:url('Incident/del')}"><i class="fa fa-fw fa-trash"></i> 删除</button>
    </div>
</div>
<!-- /.form group -->
{/block}
{block name='script'}
<script>
    var php_url = {
        index: '{:url("Incident/index")}',
        detail: '{:url("Incident/detail")}',
        mod : '{:url("Incident/mod")}',
        del : '{:url("Incident/del")}',
    };
    require([ 'moment','dataTables.bootstrap','inputmask.date', 'daterangepicker','jquery.form','admin/js/pages/incident'],function (moment) {
        window.moment = moment
        incident();
    });
</script>
{/block}
