<form class="form-horizontal" id="form" action = "{:url('LocationMark/update')}">
    <input name="lmar_id" value="{$detail.lmar_id}" hidden/>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">修改信标</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label  class="col-sm-2 control-label">信标名称</label>
            <div class="col-sm-10">
                <input class="form-control" name="name" placeholder="名称" type="text" value="{$detail.name}">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">类型</label>
            <div class="col-sm-10">
                <input class="form-control" name="type" placeholder="类型" type="text"  value="{$detail.type}">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">mac地址</label>
            <div class="col-sm-10">
                <input class="form-control" name="mac" placeholder="mac地址" type="text"  value="{$detail.mac}">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">是否启用</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="radio" name="status" value="0"  {eq name="detail['status']" value="0"}checked{/eq}>是
                    </label>
                    <label>
                        <input type="radio" name="status"  value="1"  {eq name="detail['status']" value="1"}checked{/eq}>否
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="botton" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="reset" class="btn btn-default">重置</button>
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>