{extend name="admin@public/content" /}
{block name="box"}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">系统节点结构</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
            {foreach $nodes as $key=>$vo}
            <tr data-id="{$vo.node}">
                <td style="width: 550px;">
                    {$vo.spl}{$vo.node}
                    <input placeholder="输入节点名" class='title-input' style='height:28px;line-height:28px;width:auto' name='title' value="{$vo.title}"/>
                </td>
                <td>
                    <label>
                        {if substr_count($vo['node'],'/')==2}
                        {notempty name='vo.is_auth'}
                        <input name='is_auth' checked='checked' class="check-box" type='checkbox' value='1'/>
                        {else}
                        <input name='is_auth' class="check-box" type='checkbox' value='1'/>
                        {/notempty}
                        加入权限控制
                        {/if}
                    </label>
                    <label>
                        {if substr_count($vo['node'],'/')==2}
                        {notempty name='vo.is_log'}
                        <input name='is_log' checked='checked' class='check-box' type='checkbox' value='1'/>
                        {else}
                        <input name='is_log' class='check-box' type='checkbox' value='1'/>
                        {/notempty}
                        记录访问日志
                        {/if}
                    </label>
                    <label>
                        {if substr_count($vo['node'],'/')==2}
                        {notempty name='vo.is_menu'}
                        <input name='is_menu' checked='checked' class='check-box' type='checkbox' value='1'/>
                        {else}
                        <input name='is_menu' class='check-box' type='checkbox' value='1'/>
                        {/notempty}
                        可设为菜单
                        {/if}
                    </label>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
{/block}
{block name='script'}
<script>
    $(function () {
        $('input.title-input').on('change', function () {
            var id = $(this).parents('tr').attr('data-id');
            $.form.load('{:url("save")}', {id: id, name: this.name, value: this.value}, 'POST', true, null, false);
        });
        $('input.check-box').on('click', function () {
            var id = $(this).parents('tr').attr('data-id');
            $.form.load('{:url("save")}', {id: id, name: this.name, value: this.checked ? 1 : 0}, 'POST', true, null, false);
        });
    });
</script>
{/block}


