{extend name="public/content_table" /}
{block name="box-header"}{/block}
{block name="button"}
<button type="button" class="btn btn-link" e-action-modal="{:url('group/add')}"><i class="fa fa-plus"></i> 新增</button>
<button class="btn btn-link" e-action-del="{:url('group/del')}"><i class="fa fa-fw fa-trash"></i> 删除</button>
{/block}
{block name='script'}
<script>
    var php_url = {
        index : '{:url("group/index")}',
        mod :  '{:url("group/mod")}',
        del :  '{:url("group/del")}',
        groupperson : '#{:url("GroupPerson/index", "view=index&id=__ID__")}',
    };
    require(['dataTables.buttons.bootstrap','inputmask.date','jquery.form'],function () {
        require(['domready!','admin/js/pages/group'],function () {
            group();
        });
    });
</script>
{/block}