<form class="form-horizontal" id="form" action = "{:url('group/mod')}">
    <input name="gro_id" value="{$group.gro_id}" hidden>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">修改组</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label  class="col-sm-2 control-label">组名</label>
            <div class="col-sm-10">
                <input class="form-control" name="name" placeholder="组名" type="text" value="{$group.name}">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">状态</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="radio" name="status" value="0" {eq name="group['status']" value="0"}checked{/eq}>正常
                    </label>
                    <label>
                        <input type="radio" name="status"  value="1" {eq name="group['status']" value="1"}checked{/eq}>撤销
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-default">重置</button>
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>