<form class="form-horizontal" id="form" action = "{:url('OutfireFacility/add')}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">添加消防设施</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label  class="col-sm-2 control-label">编码</label>
            <div class="col-sm-10">
                <input class="form-control" name="number" placeholder="编码" type="text">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
                <input class="form-control" name="name" placeholder="名称" type="text">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">类型</label>
            <div class="col-sm-10">
                <input class="form-control" name="type" placeholder="类型" type="text">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">所属建筑</label>
            <div class="col-sm-10">
                <select class="form-control select2" name="bui_id" style="width: 100%">
                    {volist name="buildings" id="building"}
                    <option value="{$building.bui_id}">{$building.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">所在楼层</label>
            <div class="col-sm-10">
                <select class="form-control" name="flo_id" placeholder="所在楼层"></select>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">坐标</label>
            <div class="col-sm-10">
                <input class="form-control" name="coordinate" placeholder="坐标" type="text">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">安装日期</label>
            <div class="col-sm-10">
                <input class="form-control" name="place_time" placeholder="安装日期" type="text">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">是否启用</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="radio" name="status" value="0">是
                    </label>
                    <label>
                        <input type="radio" name="status"  value="1">否
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="botton" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="reset" class="btn btn-default">重置</button>
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>