{extend name="public/content_table" /}
{block name="box-header"}
<div class="box-header with-border"  lang="zh-CN">
    <div class="form-group">
        <label>选择建筑：</label>
        <select id="build" class="form-control" name="building" style="width: 200px">
            {volist name="buildings" id="building" empty="暂时没有数据"}
            <option value="{$building.bui_id}" {eq name="bui_id" value="$building['bui_id']"}selected="selected"{/eq}>{$building.name}</option>
            {/volist}
        </select>
    </div>
</div>
{/block}
{block name="button"}
<a class="btn btn-link" href="#{:url('building/index', 'view=index')}"><i class="fa fa-fw fa-chevron-circle-left"></i>返回建筑列表</a>
<button type="button" class="btn btn-link" e-action-modal="{:url('Floor/add')}" {if !auth("admin/Floor/add")}disabled{/if}><i class="fa fa-plus"></i> 新增</button>
<button class="btn btn-link" e-action-del="{:url('Floor/del')}" {if !auth("admin/Floor/del")}disabled{/if}><i class="fa fa-fw fa-trash"></i> 删除</button>
{/block}
{block name='script'}
<script>
    var php_url = {
        index: '{:url("Floor/index")}',
        mod : '{:auth("admin/Floor/mod") ? url("Floor/mod") : "false"}',
        del :'{:auth("admin/Floor/del") ? url("Floor/del") : "false"}',
    };
    require(['dataTables.bootstrap','inputmask.date','jquery.form','admin/js/pages/floor'],function () {
        floor();
    });
</script>
{/block}
